# !/bin/sh

# References:
# https://github.com/github/gitignore
#
# gitignore/C++.gitignore
# ---------------------------------
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# ---------------------------------

# gitignore/CMake.gitignore
# ---------------------------------
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
# ---------------------------------
#
# gitignore/Global/Tags.gitignore
# ---------------------------------
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
!TAGS/
tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out
# ---------------------------------

